#!/usr/bin/env bash

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

export EDITOR=vim

if [ "$(uname -s)" == "Darwin" ]; then
  # When latest bash installed from Homebrew(brew install bash)
  export SHELL=/usr/local/bin/bash
  export HOMEBREW_CASK_OPTS="--appdir=~/Applications --fontdir=/Library/Fonts"
fi
