#!/bin/bash

# Courtesy: https://github.com/jessfraz/dotfiles
# Packages: feh, pv

# Simple calculator
calc() {
	local result=""
	result="$(printf "scale=10;%s\\n" "$*" | bc --mathlib | tr -d '\\\n')"
	#						└─ default (when `--mathlib` is used) is 20

	if [[ "$result" == *.* ]]; then
		# improve the output for decimal numbers
		# add "0" for cases like ".5"
		# add "0" for cases like "-.5"
		# remove trailing zeros
		printf "%s" "$result" |
			sed -e 's/^\./0./'  \
			-e 's/^-\./-0./' \
			-e 's/0*$//;s/\.$//'
	else
		printf "%s" "$result"
	fi
	printf "\\n"
}

# Make a temporary directory and enter it
tmpd() {
	local dir
	if [ $# -eq 0 ]; then
		dir=$(mktemp -d)
	else
		dir=$(mktemp -d -t "${1}.XXXXXXXXXX")
	fi
	cd "$dir" || exit
}

# Determine size of a file or total size of a directory

fs() {
	# shellcheck disable=SC2199
	if [[ -n "$@" ]]; then
		du -sh -- "$@"
	else
		du -sh -- .[^.]* *
	fi
}

# Create a git.io short URL

gitio() {
	if [ -z "${1}" ] || [ -z "${2}" ]; then
		echo "Usage: \`gitio slug url\`"
		return 1
	fi
	curl -i https://git.io/ -F "url=${2}" -F "code=${1}"
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
o() {
	if [ $# -eq 0 ]; then
		xdg-open .	> /dev/null 2>&1
	else
		xdg-open "$@" > /dev/null 2>&1
	fi
}

# Get colors in manual pages

man() {
	env \
		LESS_TERMCAP_mb="$(printf '\e[1;31m')" \
		LESS_TERMCAP_md="$(printf '\e[1;31m')" \
		LESS_TERMCAP_me="$(printf '\e[0m')" \
		LESS_TERMCAP_se="$(printf '\e[0m')" \
		LESS_TERMCAP_so="$(printf '\e[1;44;33m')" \
		LESS_TERMCAP_ue="$(printf '\e[0m')" \
		LESS_TERMCAP_us="$(printf '\e[1;32m')" \
		man "$@"
}


# Use feh to nicely view images
openimage() {
	local types='*.jpg *.JPG *.png *.PNG *.gif *.GIF *.jpeg *.JPEG'

	cd "$(dirname "$1")" || exit
	local file
	file=$(basename "$1")

	feh -q "$types" --auto-zoom \
		--sort filename --borderless \
		--scale-down --draw-filename \
		--image-bg black \
		--start-at "$file"
}

isup() {
	local uri=$1

	if curl -s --head  --request GET "$uri" | grep "200 OK" > /dev/null ; then
		echo "Yep!"
	else
		echo "Nope!"
	fi
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
tre() {
	tree -aupCsh -I '.git' --dirsfirst "$@" | less -FRNX
}

# Flush Directory Service cache
alias flushdns="dscacheutil -flushcache"

# Get file from partner
getfile() {
if [ -z "$1" ]; then
  echo "Usage: getfile <file_name>"
  return 1
fi
iface=`route | grep '^default' | grep -o '[^ ]*$'`
ipa=`ip a | grep $iface | grep inet | awk {{'print $2'}} | cut -d / -f1`
echo "Client: pv <file-name> | nc $ipa 8169"
echo "Ctrl+c to exit"
nc -lvnp 8169 > $1
}

# Get Local IP
localip() {
iface=`route | grep '^default' | grep -o '[^ ]*$'`
ipa=`ip a | grep $iface | grep inet | awk {{'print $2'}} | cut -d / -f1`
echo $ipa
}

# SSL
function ssl_validity() {
    echo | openssl s_client -servername $1 -connect $1:443 2>/dev/null | openssl x509 -noout -dates
}

# Fancy dotfiles update
function updatedotfiles() {
sp="/-\|"
echo -n '[*] Updating dotfiles.....'
for x in .aliases .bash_profiles .bash_prompt .bashrc .curlrc .dockerfunctions .exports .functions .path .screenrc;
do
  printf "\b${sp:i++%${#sp}:1}"
  curl -qo $HOME/$x https://raw.githubusercontent.com/veerendra2/dotfiles/master/$x > /dev/null 2>&1
done
printf "\b[DONE]"
}