#!/usr/bin/env bash

alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -lahF'
alias l='ls -CF'
alias lsd="ls -lhF --color | grep --color=never '^d'"

# Always enable colored `grep` output
alias grep='grep --color=auto '

# Allow aliases to be with sudo
alias sudo="sudo "

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"

alias h="history"

# Concatenate and print content of files (add line numbers)
alias catn="cat -n"

alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Public address
alias pubip="dig +short txt ch whoami.cloudflare @1.0.0.1 | tr -d '\"'"

# Local address
alias localip='ip r | grep '^default' | awk '\''{print $9, $5}'\'''

# Python
alias python="python3"
alias pyserver="python3 -m http.server"

# Vagrant
alias vs="vagrant ssh"
alias vd="vagrant destroy"

# Generate self-signed certificates
alias self_cert="openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout server.key -out server.pem"

# Flush Directory Service cache
alias flushdns="dscacheutil -flushcache"

# Kubernetes
alias kubegetcon='kubectl config get-contexts'
alias kubecurcon='kubectl config current-context'
alias kubegp='kubectl get pods'
alias kubegpa='kubectl get pods --all-namespaces'
alias k=kubecolor
#alias k='kubectl'
alias kx='kubectx'
alias kn='kubens'

# navi
alias np='navi --print'
alias npc='navi --print | pbcopy'

# Git
alias git-remove-untracked='git fetch --prune && git branch -r | awk "{print \$1}" | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk "{print \$1}" | xargs git branch -d'
