#!/usr/bin/env bash

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

export EDITOR=vim

if [ "$(uname -s)" == "Darwin" ]; then
  # apple silicon
  if [ "$(uname -m)" == "arm64" ]; then
    export PATH=/opt/homebrew/bin:$PATH
  # intel
  else
    export PATH=/usr/local/bin:$PATH
  fi
  # Set Homebrew Cask options
  export HOMEBREW_CASK_OPTS="--appdir=~/Applications --fontdir=/Library/Fonts"

  # Set locale variables for iTerm
  export LC_ALL=en_US.UTF-8
  export LC_CTYPE=en_US.UTF-8
fi

export PATH="${HOME}/.local/bin:${PATH}"
export GOPATH="${HOME}/go"
export STARSHIP_CONFIG="${HOME}/.config/starship/starship.toml"
